@model IEnumerable<surveyIntroPS.Models.UserLogIn>
@{
    ViewBag.Title = "Sign Up On Process";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
 <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
<p>Use this area to provide additional information.</p>
