@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Questions</h2>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#FirstTab">View All</a></li>
   
</ul>
<div class="tab-content">
    <div id="FirstTab" class="tab-pane fade in active">@Html.Action("ViewAll")</div>
   

</div>

<ul class="nav nav-tabs">
   
    <li class="active"><a data-toggle="tab" href="#secoundTab">Add</a></li>
</ul>
<div class="tab-content">
    <div id="secoundTab" class="tab-pane fade in active">@Html.Action("Create")</div>
    
</div>




